{% extends 'base.html' %}

 
{% block title %} About Us
{% endblock title %}


{% block body %}

<div class="container-fluid px-0 mb-3">
    <img src="/static/img/about.jfif" class="d-block w-100 mx-0" alt="">
</div>
<div class="container mb-3 py-4">
<h1 class="text-center">About Us</h1>
<h5>Our voyage from the bean to the container began in year 2000. Bistro had not set its impression and espresso was as yet thought about an extravagance. Our mission to give a genuinely global affair and mix a really Italian cuppa, drove us to make the brand ‘Cafe Coffee’ . Leading the Indian bistro culture, ‘Cafe Coffee’ was a chance to find both the espresso and the art.

    Nobody has aced espresso superior to the Italians. Tipping our caps their direction, ‘Cafe Coffee’ conveys new significance to Italian espresso and eats in the Indian subcontinent.
    
    Today, we keep on blending espresso the manner in which world does and in our adventure we have made espresso associations with our clients crosswise over India, Sri Lanka, Maldives, Bangladesh, Nepal and Myanmar.
    
    PIONEER OF COFFEE CULTURE.
    
    </h5>
</div>

<footer>
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="index.html"> CafeCoffee.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>



{% endblock body %}
